.flash-green {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    color: inherit; /* Original color */
  }
  50% {
    color: green; /* Flash to green */
  }
  100% {
    color: inherit; /* Back to original color */
  }
}

body {
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  backdrop-filter: blur(5px);
}

i {
  font-size: 3em;
  padding: 0.2em;
}

.bi-sun {
  color: orange;
}

.main-card {
  width: 50em;
  position: relative;
  top: -5em;
}

body {
  color: #211A28;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}